.signup-page {
    height: 100vh - 3rem;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.signup-container {
    border: 2px solid #CCC;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-text {
    font-size: 36px;
    margin-bottom: 1rem;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container input {
    margin: 10px 0;
    padding: 10px 20px;
}

.google-button, .signup-button {
    width: 13rem;
    height: 2.75rem;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px;
}

.google-button {
    display: flex;
    align-items: center;
}

.google-button img {
    height: 100%;
}

.google-button div {
    margin: 0 10px;
}
